.ciscf7_mainblock {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}
.ciscf7_mainblock span.wpcf7-form-control.wpcf7-radio {
    display: inline-block;
    width: 100%;
}

/*------radio color-----------*/
.ciscf7_color {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
}
.wpcf7-list-item.ciscf7_color {
    display: inline-block;
    position: relative;
    padding-right: 40px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.wpcf7-list-item.ciscf7_color input[type="radio"], .wpcf7-list-item.ciscf7_color input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
    z-index: 999999;
    width: 40px;
    height: 40px;
}
.wpcf7-list-item-label.ciscf7_color {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.wpcf7-list-item.ciscf7_color:hover input ~ .wpcf7-list-item-label.ciscf7_color {
    background-color: #ccc;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.wpcf7-list-item-label.ciscf7_color:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the indicator (dot/circle) when checked */
.wpcf7-list-item.ciscf7_color input:checked ~ .wpcf7-list-item-label.ciscf7_color:after {
    display: block;
}
/* Style the indicator (dot/circle) */
.wpcf7-list-item.ciscf7_color .wpcf7-list-item-label.ciscf7_color:after {
    position: absolute;
    border-radius: 50%;
    border: 2px solid #ccc;
    height: 48px;
    width: 48px;
    left: -4px;
    top: -4px;
}
/*------end radio color-----------*/
/*------radio text-----------*/
.ciscf7_text {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
}
.wpcf7-list-item-label.ciscf7_text:after {
    content: "";
    position: absolute;
    display: none;
}
.wpcf7-list-item.ciscf7_text {
    display: inline-block;
    position: relative;
    padding-right: 40px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.wpcf7-list-item.ciscf7_text input[type="radio"], .wpcf7-list-item.ciscf7_text input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
    z-index: 999999;
    width: 40px;
    height: 40px;
}
.wpcf7-list-item-label.ciscf7_text {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    border-radius: 3px;
    background-color: #ccc;
    text-align: center;
    line-height: 40px;
        font-weight: 700;
}
.wpcf7-list-item-label.ciscf7_text:after {
    content: "";
    position: absolute;
    display: none;
}
.wpcf7-list-item.ciscf7_text input:checked ~ .wpcf7-list-item-label.ciscf7_text:after {
    display: block;
}
.wpcf7-list-item.ciscf7_text .wpcf7-list-item-label.ciscf7_text:after {
    position: absolute;
    border-radius: 5px;
    border: 2px solid #ccc;
    height: 48px;
    width: 48px;
    left: -4px;
    top: -4px;
}
/*------end radio text-----------*/


/*---------------Tooltip-------------*/
.ciscf7_tooltip {
  position: relative;
  display: inline-block;
}

.ciscf7_tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 10px;
    position: absolute;
    z-index: 1;
    top: -100%;
    left: 0%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    line-height: 20px;
    min-width: 40px;
    margin: 0 auto;
} 

.ciscf7_tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.ciscf7_tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/*---------------end Tooltip-------------*/


/*---------radio image css---------*/
.ciscf7_image  {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
}
.wpcf7-list-item-label.ciscf7_image {
    width: 60px;
    height: 60px;
    position: absolute;
    display: inline-block;
        background-size: 100% 100%;
}
.ciscf7_image input[type="radio"]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
    z-index: 999999;
    width: 60px;
    height: 60px;
}
.ciscf7_image .wpcf7-list-item-label.ciscf7_image:after {
    position: absolute;
    border: 2px solid #ccc;
    height: 68px;
    width: 68px;
    left: -4px;
    top: -4px;
    display: none;
}
.ciscf7_image input:checked ~ .wpcf7-list-item-label.ciscf7_image:after {
    display: block;
}
.ciscf7_image .ciscf7_tooltip .tooltiptext {
    top: -70%;
}
/*---------end radio image css---------*/